{% extends "template.html.twig" %}
{% block title %}Blog{% endblock %}
{% block body %} 
<div class="container-fluid mx-0 my-0 px-0 mx-0" id="blog">
    <div class="container-blog">
            <div class="col-10 mx-auto my-3">
                <h3>{{blog.title_blog}}</h3>
            </div>
            <div class="row-blog-img">
                <img src="\uploads\{{blog.image_blog}}" class="blog-img px-auto" alt="img">
            </div>
            <div class="content-blog row my-5">
                <div class="col-10 mx-auto my-0">
                    <p>{{blog.chapo_blog}}</p>
                    <p>{{blog.content_blog}}</p>
                    <p><bold>Dernière mise à jour: </bold><span>{{blog.last_update_blog}}</span></p>
                    <p><bold>Auteur: </bold><span>{{blog.pseudo_blog}}</span></p>
                </div>
            </div>
    </div>
</div>   
{% endblock %}